{% extends 'default.html' %}
{% block content %}

<h1>{% block title %}Login{% endblock %}</h1>
<form enctype="multipart/form-data" action="/login" method="post">
  <div class="form-group">
    <label for="idInput">ID</label>
    <input
      type="text"
      name="idInput"
      class="form-control"
      id="idInput"
      rows="1"
      placeholder="Enter ID"
      required
    />
  </div>
  <br />
  <div class="form-group">
    <label for="passwordInput">Password</label>
    <input
      name="passwordInput"
      type="password"
      class="form-control"
      id="passwordInput"
      placeholder="Password"
      required
    />
  </div>
  <br />
  <input type="submit" class="btn btn-success" value="Login" />
  <a class="btn btn-secondary" href="{{url_for('register')}}">Register Now</a>
</form>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %} 
{% endblock %}
